* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

img {
    width: 100%;
    height: auto;
}


/* header */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#carrinho-icon img {
    width: 50px;
}

#header,
#main {
    margin: 0 100px;

}

#carrinho-icon {
    cursor: pointer;
    display: flex;
    align-items: baseline;
}

.produto-linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: 15px 0;

}

.produto {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border: 3px solid rgb(35, 91, 52);
    padding: 10px 0;
    border-radius: 10px;


}

.produtos {
    width: 90wv;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.produto img {
    width: 150px;
}

.produto button {
    background-color: rgb(68, 163, 114);
    padding: 5px 8px;
    border-radius: 10px;
    color: white;

}

#ico {
    width: 20px;
    height: 20px;
}

button {
    cursor: pointer
}

.logo span {
    color: lightgreen;
    font-size: 20px;

}

input {
    border: 2px solid black;
    border-radius: 15px;
    padding: 6px 15px;
    width: 500px;

}

#buscar button {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 8px 15px;
}
